{
  "extends": [
    "plugin:shopify/react",
    "plugin:shopify/node",
    "plugin:shopify/prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "babel/object-curly-spacing": ["error", "always"],
    "shopify/jsx-no-hardcoded-content": "off"
  }
}
