name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Fetch entire Git history so changesets can generate changelogs.
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
          # Do not persist GITHUB_TOKEN.
          # Prevent personal access token GH_TOKEN from being overridden.
          persist-credentials: false
      - uses: actions/setup-node@v2.2.0
        with:
          node-version: '14'
      - run: yarn install --frozen-lockfile
      - uses: changesets/action@master
        with:
          version: yarn run version
          publish: yarn run release
          commit: Publish packages
          title: Publish packages
        env:
          # Use personal access token GH_TOKEN to trigger workflows with changesets/action.
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
