name: Test

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.2.0
        with:
          node-version: '14'
      - run: yarn install --frozen-lockfile
      - run: yarn run lint
